.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #efefef;
}

html {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #b4bbc1, #5f7b7f);
  background-attachment: fixed;
}

.heading {
  text-align: center;
}

.content-wrapper {
  text-align: center;
}

.book-list {
  width: 600px;
  text-align: left;
  display: inline-block;
}

.left-column {
  display: inline-block;
  margin-right: 20px;
}

.right-column {
  width: 70%;
  display: inline-block;
}

.book {
  margin: 20px 0 20px 0;
  border: 1px solid black;
  padding: 10px 20px;
}

.image-not-found {
  display: inline-block;
  width: 128px;
  height: 170px;
  background-color: gray;
  color: white;
  text-align: center;
}

.image-not-found p {
  padding-top: 40%;
}

.new-search {
  text-align: center;
}
