<div class="container">
  <div class="heading">
    <h1>Book Finder</h1>
    <h3>Search all of Google's Books API</h3>
  </div>

  <div class="content-wrapper">
    <form method="get" action="/search">
      <input type="text" id="query" name="query"/>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
