<div class="container">
  <div class="heading">
    <h1>Search results for '<%= params[:query] %>'</h1>
  </div>

  <div class="new-search">
    <form method="get" action="/search">
      <label for="query">Search Again:</label>
      <input type="text" id="query" name="query"/>
      <input type="submit" value="Search" />
    </form>
  </div>
  <div class="content-wrapper">
    <div class="book-list">
      <% @decorated_books.each do |book| %>
        <div class="book">
          <div class="left-column">
            <%= book.image %>
          </div>
          <div class="right-column">
            <h2><%= book.title %></h2>
            <h3><%= book.authors %></h3>
            <p><%= book.publisher %></p>
            <p><%= book.info_link %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
